<collection-card>
  <img
    class="collection-card-image"
    src="{{ collection.product[0].images[0] | img_url }}"
    alt="{{ collection.product[0].images[0].alt }}"
    width="256px"
    heigth="300px"
  >
  <p class="subtitulo-3 collection-card-title">
    {{ collection.title }}
    {% render 'icon-arrow-right-2' %}
  </p>
</collection-card>
