<button type="button" class="slick-next">
  <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_2364_9289)">
    <rect x="15" y="7" width="40" height="40" rx="8" fill="white"/>
    <rect x="15.5" y="7.5" width="39" height="39" rx="7.5" stroke="#EBEBEB"/>
    </g>
    <path d="M43 27L43.3536 26.6464L43.7071 27L43.3536 27.3536L43 27ZM28 27.5C27.7239 27.5 27.5 27.2761 27.5 27C27.5 26.7239 27.7239 26.5 28 26.5V27.5ZM37.3536 20.6464L43.3536 26.6464L42.6464 27.3536L36.6464 21.3536L37.3536 20.6464ZM43.3536 27.3536L37.3536 33.3536L36.6464 32.6464L42.6464 26.6464L43.3536 27.3536ZM43 27.5H28V26.5H43V27.5Z" fill="#1B1B1B"/>
    <defs>
    <filter id="filter0_d_2364_9289" x="0" y="0" width="70" height="70" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="8"/>
    <feGaussianBlur stdDeviation="7.5"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2364_9289"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2364_9289" result="shape"/>
    </filter>
    </defs>
  </svg>
</button>
