<collection-list class="page-width">
  <collection-title>
    <collection-text>
      <h4 class="subtitulo-2 collection-subtitle">{{ section.settings['subtitle-text'] }}</h4>
      <h2 class="titulo-2 collection-title">{{ section.settings['title-text'] }}</h2>
    </collection-text>
    <collection-subtext>
      <p class="parrafo-1 collection-description"><br>{{ section.settings['p-text'] }}</p>
    </collection-subtext>
    <collection-button>
    <button class="cta cta-3 subtitulo-3">{{ section.settings['cta-3'] }}</button>
    </collection-button>
  </collection-title>
  <collection-scroll>
    <collection-slider>
      {% for collection in section.settings.collection_list %}
        <collection-item>
          {% include 'collection-card', collection: collection %}
        </collection-item>
      {% endfor %}
    </collection-slider>
  </collection-scroll>
</collection-list>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type":"text",
        "id": "subtitle-text",
        "label": "Subtitle text",
        "default": "Categorias"
      },
      {
        "type":"text",
        "id": "title-text",
        "label": "Title text",
        "default": "Encuentra el regalo ideal"
      },
      {
        "type":"text",
        "id": "p-text",
        "label": "paragraph text",
        "default": "Pellentesque cras adipiscing tempus libero vel nullam mauris tellus. Aliquam ultrices tellus consequat amet,"
      },
      {
        "type": "text",
        "id": "cta-3",
        "label": "Titulo boton",
        "default": "Ver por Ocasión"
      },
      {
        "type": "collection_list",
        "id": "collection_list",
        "label": "Collections"
      }
    ]
  }
{% endschema %}
