<contacto>
  <cuadro></cuadro>
  <informacion>
    <h1 class="title-info">
      {{ section.settings.contact-title }}
    </h1>
    <h3 class="h3-title">
      {{ section.settings.contact-subtitle }}
    </h3>
    {% form %}
      <datos>
        <input
          placeholder="Tu correo"
          type="email"
          name="contact[email]">
        <button id="button">
          <input type="submit" value="Recibir informacion" />
        </button>
      </datos>
    {% endform %}
  </informacion>
</contacto>

{% schema %}
  {
    "name": "contacto",
    "settings": [
      {
        "type": "text",
        "id": "contact-title",
        "label": "Contactanos"
      }, {
        "type": "textarea",
        "id": "contact-subtitle",
        "label": "Pellentesque cras adipiscing tempus libero vel nullam mauris tellus. Aliquam ultrices tellus consequat amet"
      }
    ]
  }
{% endschema %}