<contacto>
  <cuadro></cuadro>
  <informacion>
    <h1 class="title-info">
      {{ section.settings.contact-title }}
    </h1>
    <h3 class="h3-title">
      {{ section.settings.contact-subtitle }}
    </h3>
    {% form 'customer' %}
      <datos>
        <input
          placeholder="Tu correo"
          type="email"
          name="contact[email]">
        <input type="button" value="{{ section.settings.button-title }}">
      </datos>
    {% endform %}
  </informacion>
</contacto>

{% schema %}
  {
    "name": "contacto",
    "settings": [
      {
        "type": "text",
        "id": "contact-title",
        "label": "Contactanos"
      }, {
        "type": "textarea",
        "id": "contact-subtitle",
        "label": "Subtitle"
      }, {
        "type": "text",
        "id": "button-title",
        "label": "Recibir informacion"
      }
    ]
  }
{% endschema %}