<section class="contacto">
  <cuadro></cuadro>
  <informacion>
    <p class="title-info">Contáctanos</p>
    <h3 class="h3-title">
      Pellentesque cras adipiscing tempus libero vel nullam mauris tellus. Aliquam ultrices tellus consequat amet,
    </h3>
    <datos><input placeholder="Tu correo">
      <button class="button">Recibir informacion</button>
    </datos>
  </informacion>
</section>