<footer class="text-center text-lg-start bg-light text-muted">
  <section class="">
    <div class="container text-left text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="fw-bold mb-4">
            <img src="./images/Rectangle 1891.png" alt="dasd">
          </h6>
          <p>
            A través del tiempo ha desarrollado el gusto por los arreglos con diseño y estilo propio. Cada arreglo elaborado está basado en el sentimiento que el cliente quiere manifestar y desea expresar. El toque único de distinción y estilo que caracteriza a Floristería Cardo o se ha convertido en la mejor carta de presentación de nuestros arreglos
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="fw-bold mb-4">
            Servicios
          </h6>
          <p>
            <a href="#!" class="text-reset">Arreglos funebres</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Arreglos Florales</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Bonos de Condolencia</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Arreglos por ocasion</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="fw-bold mb-4">
            Nosotros
          </h6>
          <p>
            <a href="#!" class="text-reset">Envio</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Politicas de Privacidad</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Politicas de Envio</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Terminos del Servicio</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Politicas de reembolso</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Politicas de Cambios <br> y Devoluciones de Dinero
            </a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="fw-bold mb-4">Contacto</h6>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Tu e-mail"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btb" type="button">></button>
            </div>
          </div>
          <p>
            <i class="fas fa-envelope me-3"></i>
            Correo@gmail.com
          </p>
          <p>
            <i class="fas fa-phone me-3"></i>320-3949506</p>
          <p>
            <i class="fas fa-print me-3"></i>Calle 98 # 18-21 Bogotá D.C. - Colombia</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © Copyright 2023 Floristería Cardó.
  </div>
</footer>