<footer>
  <item class="info-marca">
    <img src="{{ settings.logo.src | img_url }}"alt="{{ settings.logo.alt }}">
    <p class="parrafo-1">{{ section.settings.descripcion-mar }} dd</p>
  </item>
  <item class=menu">
    <h5></h5>
    <menu>
      <ul>
        <li></li>
      </ul>
    </menu>
  </item>
  <item class="contact">
    <form>
      <input type="text">
      <label for=""></label>
      <button></button>
    </form>
  </item>
</footer>
{% schema %}
  {
    "name": "Custom footer",
    "settings": [
      {
        "type": "textarea",
        "id": "descripcion-marca",
        "label": "Escriba aquí la descripción de la marca",
        "default": " "
      }
    ]
  }
{% endschema %}