<footer>
  <item class="info-marca">
    <img src="{{ settings.logo.src | img_url }}"alt="{{ settings.logo.alt }}">
    <p class="parrafo-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet earum assumenda facere, dolorum repellat? Amet perspiciatis animi natus velit, aliquam labore tenetur corporis rerum ex architecto fugiat, iste doloribus?</p>
  </item>
  <item class=menu">
    <h5></h5>
    <menu>
      <ul>
        <li></li>
      </ul>
    </menu>
  </item>
  <item class="contact">
    <form>
      <input type="text">
      <label for=""></label>
      <button></button>
    </form>
  </item>
</footer>
{% schema %}
  {
    "name": "Custom footer",
    "settings": [
      {
        "type": "textarea",
        "id": "descripcion-marca",
        "label": "Escriba aquí la descripción de la marca",
        "default": "Descripción"
      }, {
        "type": "text",
        "id": "titulo-menu",
        "default": "Titulo",
        "label": "Título"
      }, {
        "type": "link_list",
        "id": "menu-footer",
        "default": "footer",
        "label": "t:sections.footer.blocks.link_list.settings.menu.label"
      }
    ]
  }
{% endschema %}
</footer>
