<footer>
  <item class="brand-info">
    <img src="{{ settings.logo.src | img_url }}" alt="{{ settings.logo.alt }}">
    <p></p>
  </item>
  <item class=menu">
    <h5></h5>
    <menu>
      <ul>
        <li></li>
      </ul>
    </menu>
  </item>
  <item class="contact">
    <form>
      <input type="text">
      <label for=""></label>
      <button></button>
    </form>
  </item>
</footer>