<footer>
  <item class="brand-info">
    <img class="logo" alt="logo">
    <p></p>
  </item>
  <item class=menu">
    <h5></h5>
    <menu>
      <ul>
        <li></li>
      </ul>
    </menu>
  </item>
  <item class="contact"></item>
</footer>