<header>
  <img
    src="{{ settings.logo.src | img_url }}"
    alt="{{ settings.logo.alt }}"
    class="" />

  <nav>
    <ul>
      {% for link in section.settings.main-menu.links %}
        <li>
          <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

</header>


{% schema %}
  {
    "name": "header",
    "settings": [
      {
        "type": "link_list",
        "id": "main-menu",
        "label": "Menu principal del encabezado"
      }
    ]
  }
{% endschema %}