<header>
  <img
    src="{{ settings.logo.src | img_url }}"
    alt="{{ settings.logo.alt }}"
    class="" />
  <nav></nav>
</header>


{% schema %}
  {
    "name": "header",
    "settings": [
      {
        "type": "link_list",
        "id": "main-menu",
        "label": "Menu principal del encabezado"
      }
    ]
  }
{% endschema %}