<hero-banner>
  <inline-container>
    <h1 class="titulo-h1">
      {{ section.settings.hero-title }}
    </h1>
    <p class="paragraph-p2">
      Pellentesque cras adipiscing tempus libero vel nullam mauris tellus. Aliquam ultrices tellus consequat amet,
    </p>
  </inline-container>
  <inline-container>
    {% for hero-product in section.settings.hero-collection.products %}
      <div>
        <img src="{{ hero-product.featured_image | img_url }}" alt="{{ hero-product.featured_image.alt }}">
      </div>
    {% endfor %}
  </inline-container>
</hero-banner>

{% schema %}
  {
    "name": "hero-banner",
    "settings": [
      {
        "type": "text",
        "id": "hero-title",
        "label": "Titulo principal H1",
        "default": "¿No sabes cómo decirlo? Dilo con Flores."
      }, {
        "type": "collection",
        "id": "hero-collection",
        "label": "Collection"
      }
    ]
  }
{% endschema %}