<hero-banner>
  <inline-half-container>
    <h1 class="titulo-h1">
      {{ section.settings.hero-title }}
    </h1>
    <p class="parrafo-2">
      {{ section.settings.hero-subtitle }}
    </p>
  </inline-half-container>
  <inline-half-container>
    <products-container class="overflow-auto">
      {% for hero-product in section.settings.hero-collection.products %}
        {% include 'product-card', hero-product: hero-product, atc-btn: section.settings.add-to-cart-title %}
      {% endfor %}
    </products-container>
  </inline-half-container>
</hero-banner>

{% schema %}
  {
    "name": "hero-banner",
    "settings": [
      {
        "type": "text",
        "id": "hero-title",
        "label": "Titulo principal H1",
        "default": "¿No sabes cómo decirlo? Dilo con Flores."
      }, {
        "type": "collection",
        "id": "hero-collection",
        "label": "Collection"
      }, {
        "type": "textarea",
        "id": "hero-subtitle",
        "label": "Hero subtitle",
        "default": "Pellentesque cras adipiscing tempus libero vel nullam mauris tellus. Aliquam ultrices tellus consequat amet,"
      }, {
        "type": "text",
        "id": "add-to-cart-title",
        "label": "Titulo principal H1",
        "default": "Agregar"
      }
    ]
  }
{% endschema %}