<section class="main-product">
  <div class="flor-2">
    {% render 'Flor-2' %}
  </div>
  <div class="flor-1">
    {% render 'Flor-1' %}
  </div>
  <product-page>
  </product-page>
  <product-information>
    {{ product.collections[0].title }}
  </product-information>

</section>

{% schema %}
  {
    "name": "Página del producto",
    "settings": [
      {
        "type": "text",
        "id": "envio",
        "label": "Contenido del item envíos "
      }, {
        "type": "text",
        "id": "info-extra",
        "label": "Contenido del item informacion extra "
      }, {
        "type": "text",
        "id": "button-title",
        "label": "Titulo boton",
        "default": "Agregar al carrito"
      }, {
        "type": "product_list",
        "id": "collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Boton de texto",
        "default": "Añadir al carrito"
      }, {
      "type": "text",
      "id": "subtitulo-fotos",
      "label": "Ver Todos",
      "default": "Ver todos"
    }, {
      "type": "text",
      "id": "title",
      "label": "titulo section",
      "default": "Otros Clientes también compraron"
    }
    ]
  }
{% endschema %}