<h1>Mi carrito</h1>
{% for item in cart.items %}
  <cart-item>
    <p class="parrafo-4 collection-tag">{{ item.product.collections[0].title }}</p>
    <h2>{{ item.product.title }}</h2>
    <
  </cart-item>
{% endfor %}

{% schema %}
{
  "name": "main cart",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
