<h1 class="title-politics">
  {{ page.title }}
</h1>
<p class="fecha-politics">
  {{ page.published_at | date: '%m/ %d/ %Y' }}
</p>
<cont-1>
    <cont-2>
      <cont-3>
        <h2 class="t-2">Titulo</h2>
        {{ page.content }}
        <h2 class="t-2">Titulo</h2>
        <p class="i-2">Sed finibus rutrum tortor hendrerit rutrum. Duis vehicula purus eget interdum condimentum. Nulla facilisi. Phasellus vel massa nibh. Aliquam eget suscipit magna, at venenatis mi. Nulla at euismod velit, id volutpat lacus. Nullam ante enim, sagittis id dignissim a, tempus vel nunc. Nulla facilisi. Phasellus a eros tellus.
        </p>
      </cont-3>
    </cont-2>
    <cont-4>


{{ section.settings.menu }}



{% schema %}
  {
    "name": "main politics",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }

    ]
  }
{% endschema %}