<h1 class="title-politics">
  {{ page.title }}
</h1>


{{ page.published_at | date: '%m/ %d/ %Y' }}
{{ page.content }}
{{ section.settings.menu }}



{% schema %}
  {
    "name": "main politics",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }

    ]
  }
{% endschema %}