<link rel="stylesheet" href=".assets/main.css">
<section class="preguntas-frecuentes">
  <title>
    <p class="f">Preguntas Frecuentes</p>
    <h2 class="g">Sobre Cardó</h2>
  </title>
  <preguntas>
    <select name="p1" id="cars">
      <option value="How soon will my order ship?">How soon will my order ship?</option>
    </select>
    <select name="cars" id="cars">
      <option value="Is there any warranty exclusions?">Is there any warranty exclusions?</option>
    </select>
    <select name="cars" id="cars">
      <option value="Are there any return exclusions?">Are there any return exclusions?</option>
    </select>
    <select name="cars" id="cars">
      <option value="Will I be charged for a replacement item?">Will I be charged for a replacement item?</option>
    </select>
    <select name="cars" id="cars">
      <option value="How can I track my orders & payment?">How can I track my orders & payment?</option>
    </select>
  </preguntas>
</section>