<link rel="stylesheet" href=".assets/main.css">
<section class="preguntas-frecuentes">
    <h5 class="titulo-5">
      {{ section.settings['subtitle-preguntas'] }}
    </h5>
    <h1 class="titulo-1">
      {{ section.settings['title-preguntas'] }}
    </h1>
  <preguntas>
    {% for block in section.blocks %}
      <select name="p1" id="cars">
        <option value="{{ block.settings.faq-text }}">{{ block.settings['faq-text'] }}</option>
      </select>
    {% endfor %}
  </preguntas>
</section>

{% schema %}
{
	"name": "preguntasFrecuentes",
	"settings": [
		{
			"type": "text",
			"id": "title-preguntas",
			"label": "Title section",
			"default": "Sobre Cardó"
		}, {
			"type": "text",
			"id": "subtitle-preguntas",
			"label": "subtitle-preguntas",
			"default": "preguntas frecuentes"
		}
	],
	"blocks": [
		{
			"type": "FAQ",
			"name": "FAQ",
            "limit": 5,
			"settings": [
				{
					"type": "text",
         	"id": "faq-text",
         	"label": "Heading text",
         	"default": "Heading text"
				}
			]
		}
	],
   "presets": [
     {
       "category": "custom-collection-banner",
       "name": "Custom collection section Flores"
     }
   ]
}
{% endschema %}
