<link rel="stylesheet" href=".assets/main.css">
<section class="preguntas-frecuentes">
	<title>
		<p class="f">
			{{ section.settings.subtitle-preguntas }}
		</p>
		<h2 class="g">
			{{ section.settings.title-preguntas }}
		</h2>
	</title>
	<preguntas>
    {% for block in section.blocks %}
      <select name="p1" id="cars">
        <option value="{{ block.settings.heading-text }}"> {{ block.settings.heading-text }} </option>
      </select>
    {% endfor %}
	</preguntas>
</section>

{% schema  %}
	{
		"name": "preguntasFrecuentes",
		"settings": [
			{
				"type": "text",
				"id": "title-preguntas",
				"label": "Title section",
				"default": "Sobre Cardó"
			}, {
				"type": "text",
				"id": "subtitle-preguntas",
				"label": "subtitle-preguntas",
				"default": "preguntas frecuentes"
			}
		],
		"blocks": [
			{
				"type": "FAQ",
				"name": "FAQ",
				"settings": [
					{
						"type": "text",
          	"id": "heading-text",
          	"label": "Heading text",
          	"default": "Heading text"
					}
				],
        "limit": 5
			}
		],
    "presets": [
      {
        "category": "custom-collection-banner",
        "name": "Custom collection section Flores"
      }
    ]
	}
{% endschema %}