<section class="product-page">
  <div class="flor-1">
    {% render 'Flor-1-product-page' %}
  </div>
  
  </div>
  <div class="flor-2">
    {% render 'Flor-2' %}
  </div>
  <product class="container">
    <prouct-img></prouct-img>
    <product-information></product-information>
  </product>
</section>