<section class="arreglos-funebres">
  <container-arreglos>
    <subtitulo-3 class="p-subtitle">
      {{ section.settings.arreglos-subtitle }}
    </subtitulo-3>
    <titulo-1 class="p-title">
      {{ section.settings.arreglos-title }}
    </titulo-1>
  </container-arreglos>
  <div>
    {% for product in section.settings.collection.products %}
        {% include 'product-card', hero-product: product, atc-btn: section.settings.button-text %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "products faq",
    "settings": [
      {
        "type": "text",
        "id": "arreglos-title",
        "label": "Titulo",
        "default": "Lorem ipsum dolor sit amet"
      }, {
        "type": "text",
        "id": "arreglos-subtitle",
        "label": "Subtitulo",
        "default": "Arreglos Funebres"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Boton de texto",
        "default": "Añadir al carrito"
      }
    ]
  }
{% endschema %}