<section class="product-page">
  <div class="flor-2">
    {% render 'Flor-2' %}
  </div>
  <div class="flor-1">
    {% render 'Flor-1' %}
  </div>
  <product-page class="container">
    <prouct-img>
      <carrusel></carrusel>
      <img>
    </prouct-img>
    <product-information>
      <collection-title class="subtitulo-3">
        {{ product.collections[0].title }}
      </collection-title>
      <product-title class="titulo-3">
        {{ product.title }}
      </product-title>
      <product-price class="titulo-4">
        {{ product.price | money }}
      </product-price>
      <product-description class="parrafo-2">
        {{ product.description }}
      </product-description>
      <shipping class="extra-product">
        {% render 'icon-transport' %}
        <p class="subtitulo-2">Envío gratis</p>
      </shipping>
      <information class="extra-product">
        {% render 'icon-information' %}
        <p class="subtitulo-2">Information extra</p>
      </information>
    </product-information>
  </product-page>
</section>
{% schema %}
  {
    "name": "Página del producto",
    "settings": []
  }
{% endschema %}