<section class="products-faq2">
  <div class="flor-5">
    {% render 'flor-5' %}
  </div>
  <container-arreglos>
    <p class="subtitulo-6" id="p-subtitle2">
      {{ section.settings.arreglos-subtitle }}
    </p>
    <h1 class="titulo-6" id="p-title2">
      {{ section.settings.arreglos-title }}
    </h1>
  </container-arreglos>
  <container-products>
    {% for product in section.settings.collection.products limit:4 %}
        {% include 'product-card', hero-product: product, atc-btn: section.settings.button-text %}
    {% endfor %}
    <p class="subtitulo-2">
      {{ section.settings['subtitulo-fotos'] }}
    </p>
  </container-products>
</section>

{% schema %}
  {
    "name": "products contact",
    "settings": [
      {
        "type": "text",
        "id": "arreglos-title",
        "label": "Titulo",
        "default": "Lorem ipsum dolor sit amet"
      }, {
        "type": "text",
        "id": "arreglos-subtitle",
        "label": "Subtitulo",
        "default": "Arreglos Funebres"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      },  {
      "type": "text",
      "id": "subtitulo-fotos",
      "label": "Ver Todos",
      "default": "Ver todos"
    }
    ]
  }
{% endschema %}

