<section class="product-page">
  <div class="flor-2">
    {% render 'Flor-2' %}
  </div>
  <div class="flor-1">
    {% render 'Flor-1' %}
  </div>
  <product-page class="container">
    <prouct-img>
      <carusel>
        1
      </carusel>
      <img>
    </prouct-img>
    <product-information>
      <collection-title class="subtitulo-3">Arreglos florales
        {% comment %} {{ product.collections }} {% endcomment %}
      </collection-title>
      <product-title class="titulo-3">Rosas bicolor para mamá
        {% comment %} {{ product.title }} {% endcomment %}
      </product-title>
      <product-price class="titulo-4">$220.000
        {% comment %} {{ product.price }} {% endcomment %}
      </product-price>
      <product-description class="parrafo-3">Arreglo en Rosas para mamá es una hermosa selección de flores donde se mezclan dos tonalidades. Esta combinación de colores es un símbolo de estima y amor, haciéndolo el perfecto...
      </product-description>
      <shipping class="extra-product">
        {% render 'icon-transport' %}
        <p class="subtitulo-2">Envío gratis</p>
      </shipping>
      <information class="extra-product">
        {% render 'icon-information' %}
        <p class="subtitulo-2">Information extra</p>
      </information>
    </product-information>
  </product-page>
</section>
{% schema %}
  {
    "name": "Página del producto",
    "settings": []
  }
{% endschema %}