<section class="arreglos-funebres">
  <container-arreglos>
    <p class="subtitulo-3" id="p-subtitle">
      {{ section.settings.arreglos-subtitle }}
    </p>
    <h1 class="titulo-1" id="p-title">
      {{ section.settings.arreglos-title }}
    </h1>
  </container-arreglos>
  <container-products>
    {% for product in section.settings.collection.products limit:4 %}
        {% include 'product-card', hero-product: product, atc-btn: section.settings.button-text %}
    {% endfor %}
  </container-products>
</section>
<section>
    asdas
</section>

{% schema %}
  {
    "name": "products faq",
    "settings": [
      {
        "type": "text",
        "id": "arreglos-title",
        "label": "Titulo",
        "default": "Lorem ipsum dolor sit amet"
      }, {
        "type": "text",
        "id": "arreglos-subtitle",
        "label": "Subtitulo",
        "default": "Arreglos Funebres"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Boton de texto",
        "default": "Añadir al carrito"
      }
    ]
  }
{% endschema %}