<section class="product4 {% if section.settings.color %}bg-linen{% else %}bg-dark{% endif %}">
{% if section.settings.flor == true %}
  <flor class="flor-6">
    {% render 'Flor-6' %}
  </flor>
{% endif %}
<product4 class="page-width" {% if section.settings.border == true %}style="border: 1px solid var(--main-linen);"{% endif %}>
  <container-arreglos>
    <p class="subtitulo-3 s3" id="p-subtitle">
      {{ section.settings.arreglos-subtitle }}
    </p>
    <h1 class="titulo-1 t1" id="p-title">
      {{ section.settings.arreglos-title }}
    </h1>
  </container-arreglos>
  <p class="cta s-r subtitulo-2 {% if section.settings.style-s == 'style 1' %} s2{% endif %} {% if section.settings.style-s == 'style 2' %} s2-1 {% endif %}">
      <a class="view-all-4" href="#">
      {{ section.settings['subtitulo-fotos'] }}
      {% render 'icon-arrow-right' %}
      </a>
    </p>
  <container-4products>
    {% for product in section.settings.collection limit:4 %}
        {% include 'product-card', hero-product: product, atc-btn: section.settings.button-text, classes: "product-4-img" %}
    {% endfor %}
    <p class="cta subtitulo-2 s-d {% if section.settings.style-s == 'style 1' %} s2{% endif %} {% if section.settings.style-s == 'style 2' %} s2-1 {% endif %}">
      <a class="view-all-4" href="#">
      {{ section.settings['subtitulo-fotos'] }}
      {% render 'icon-arrow-right' %}
      </a>
    </p>
  </container-4products>
</product4>
</section>

{% schema %}
  {
    "name": "products-4",
    "settings": [
      {
        "type": "text",
        "id": "arreglos-title",
        "label": "Titulo",
        "default": "Lorem ipsum dolor sit amet"
      }, {
        "type": "text",
        "id": "arreglos-subtitle",
        "label": "Subtitulo",
        "default": "Arreglos Funebres"
      }, {
        "type": "product_list",
        "id": "collection",
        "label": "collection",
        "limit": 4
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Boton de texto",
        "default": "Añadir al carrito"
      }, {
			"type": "text",
			"id": "title-preguntas",
			"label": "Title section",
			"default": "Sobre Cardó"
		}, {
			"type": "text",
			"id": "subtitle-preguntas",
			"label": "subtitle-preguntas",
			"default": "preguntas frecuentes"
		}, {
      "type": "text",
      "id": "subtitulo-fotos",
      "label": "Ver Todos",
      "default": "Ver todos"
    },
      {
  "type": "checkbox",
  "id": "flor",
  "label": "Show flor",
  "default": true
},
      {
  "type": "checkbox",
  "id": "color",
  "label": "Show colored bg",
  "default": true
},{
  "type": "checkbox",
  "id": "border",
  "label": "Show colored border",
  "default": true
},
      {
      "type": "select",
      "id": "style-s",
      "label": "Style",
      "options": [
        {
          "value": "style 1",
          "label": "style 1"
        },
        {
          "value": "style 2",
          "label": "style 2"
        }
      ],
      "default": "style 1"
    }
    ],
  "presets": [
    {
      "name": "product-4"
    }
  ]
  }
{% endschema %}

