<section class="4-product page-width">
  <container-arreglos>
    <p class="subtitulo-3 s3" id="p-subtitle">
      {{ section.settings.arreglos-subtitle }}
    </p>
    <h1 class="titulo-1 t1" id="p-title">
      {{ section.settings.arreglos-title }}
    </h1>
  </container-arreglos>
  <container-4products>
    {% for product in section.settings.collection.products limit:4 %}
      <products-4-item>
        {% include 'product-card', hero-product: product, atc-btn: section.settings.button-text, classes: "product-4-img" %}
      </products-4-item>
    {% endfor %}
    <p class="subtitulo-2 s2">
      {{ section.settings['subtitulo-fotos'] }}
      {% render 'icon-arrow-right' %}
    </p>
  </container-4products>
</section>

{% schema %}
  {
    "name": "products contact",
    "settings": [
      {
        "type": "text",
        "id": "arreglos-title",
        "label": "Titulo",
        "default": "Lorem ipsum dolor sit amet"
      }, {
        "type": "text",
        "id": "arreglos-subtitle",
        "label": "Subtitulo",
        "default": "Arreglos Funebres"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      },  {
      "type": "text",
      "id": "subtitulo-fotos",
      "label": "Ver Todos",
      "default": "Ver todos"
    }
    ]
  }
{% endschema %}

