<section class="product-page">
  <producto>
    <carrusel>
      <img>
    </carrusel>
    <img>
    <informacion-producto>
      <titulo-corto></titulo-corto>
      <titulo-producto></titulo-producto>
      <precio></precio>
      <parrafo></parrafo>
      <botones>
        {% form 'product' %}
          <input type="submit" value="Add to cart">
        {% endform %}
      </botones>
    </informacion-producto>
  </producto>
  <combo></combo>
</section>