<section class="product-page">
  <producto>
    <carrusel>
      <img>
    </carrusel>
    <div id="img">
      #img{
      background-color: green;
            }
    </div>
    <informacion-producto>
      <titulo-corto>Arreglos florales</titulo-corto>
      <titulo-producto>Rosas bicolor para mama</titulo-producto>
      <precio>$220.000</precio>
      <parrafo>Arreglo en Rosas para mamá es una hermosa selección de flores donde se mezclan dos tonalidades. Esta combinación de colores es un símbolo de estima y amor, haciéndolo el perfecto...</parrafo>
      <botones>
        <input type="submit" value="Agregar al carrito">
        <input type="submit" value="Comprar">
      </botones>
    </informacion-producto>
  </producto>
  <combo></combo>
</section>