<section class="product-page">
  <producto>
    <carrusel>
      <img>
    </carrusel>
    <img>
    <informacion-producto>
      <titulo-corto></titulo-corto>
      <titulo-producto></titulo-producto>
      <precio></precio>
      <parrafo></parrafo>
      <botones>
        <input type="submit" value="Add to cart">
      </botones>
    </informacion-producto>
  </producto>
  <combo></combo>
</section>