<section class="product-page">
  <producto>
    <carrusel>
      <img>
    </carrusel>
    <img>
    <informacion-producto>
      <titulo-corto></titulo-corto>
      <titulo-producto></titulo-producto>
      <precio></precio>
      <parrafo></parrafo>
      <botones>

        <cantidad><input
            type="text"
            name="quantity"
            min="1"
            value="1"></cantidad>

      </botones>
    </informacion-producto>
  </producto>
  <combo></combo>
</section>