<section class="product-page">
  <product class="container">
    <prouct-img></prouct-img>
    <product-information>
      {% comment %} 
      {% render 'Flor-1' %}
      {% endcomment %}
      <div class="flor-2">
        {% render 'Flor-2' %}
      </div>

    </product-information>
  </product>
</section>