<section class="arreglos-funebres">
  <container-arreglos>
    <p class="subtitulo-3">
      {{ section.settings.arreglos-subtitle }}
    </p>
    <h1 class="titulo-1">
      {{ section.settings.arreglos-title }}
    </h1>
  </container-arreglos>
  <div>

  </div>
</section>

{% schema %}
  {
    "name": "arreglos-funebres",
    "settings": [
      {
        "type": "text",
        "id": "arreglos-title",
        "label": "Titulo",
        "default": "Lorem ipsum dolor sit amet"
      }, {
        "type": "text",
        "id": "arreglos-subtitle",
        "label": "Subtitulo",
        "default": "Arreglos Funebres"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      }
    ]
  }
{% endschema %}