<section class="sobre-cardo">
    <main-container>
        <h1 class="titulo-1" id="title-1">
            {{ section.settings.title }}
        </h1>
        <p class="parrafo-1" id="parrafo-1">
            {{ section.settings.subtitle }}
            prueba
        </p>
    </main-container>
    <information-container>
        <left-sobre>
        </left-sobre>
        <right-sobre>
            <h3 class="titulo-3" id="titulo-3">
                {{ section.settings.title-information }}
            </h3>
            <p>
                {{ section.setting.information-text }}
            </p>
        </right-sobre>
    </information-container>
</section>

{% schema  %}
    {
        "name": "sobre-cardo",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Titulo",
                "default": "Lorem ipsum dolor sit amet"
            }, {
                "type": "textarea",
                "id": "subtitle",
                "label": "subtitle",
                "default": "Pellentesque cras adipiscing tempus libero vel nullam mauris tellus. Aliquam ultrices tellus consequat amet,"
            }, {
                "type": "text",
                "id": "title-information",
                "label": "Titulo Informacion",
                "default": "Sobre Cardó"
            }, {
                "type": "textarea",
                "id": "information-text",
                "label": "Informacion"
            }
        ]
    }
{% endschema %}