<terminos-condiciones>
  <title-terms>
    <h2 class="t-1">
      {{ section.settings.terminos-title }}
    </h2>
    <p class="i-1">Ultima actualización: 08/06/23</p>
  </title-terms>
  <cont-1>
    <cont-2>
      <cont-3>
        <h2 class="t-2">Titulo</h2>
        <p class="i-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum magna ornare convallis rutrum. Sed accumsan, dolor ut feugiat pretium, turpis sem imperdiet libero, eget blandit nibh orci blandit ipsum. Ut sit amet mollis turpis. Cras luctus ligula ac tortor cursus, ac mollis justo ultrices. Vestibulum in sapien porttitor, maximus lacus in, tempus leo. Mauris enim tellus, sollicitudin nec pellentesque sed, faucibus sed est. Proin tristique consectetur posuere. Proin faucibus ex sed tempus dapibus. Mauris vitae odio nec mauris auctor semper. Maecenas velit mauris, tempus vel volutpat eget, dapibus ac tortor. Mauris quis metus arcu. <br><br> Sed nec lobortis mi, in porttitor lacus. Donec tempus, augue et blandit scelerisque, ex sapien pharetra felis, sed iaculis mauris quam non leo. Praesent in neque quis quam aliquam posuere ut et ligula. Aenean a enim non felis ullamcorper consequat. Suspendisse imperdiet dui nec massa euismod congue. Nullam viverra euismod nulla non malesuada. Vestibulum suscipit nisi dolor, a viverra odio aliquam sed. Praesent at lacus vitae turpis consectetur fringilla. Aenean faucibus urna elit, a suscipit turpis gravida et. In porttitor arcu diam, eleifend feugiat purus mollis vitae. Duis feugiat at dolor ut sagittis. Cras viverra, felis eget ornare fringilla, leo ipsum pretium nunc, sit amet varius ante ipsum ac sem. Integer finibus efficitur mi, nec auctor eros venenatis vitae. Morbi dolor eros, laoreet at lectus vel, eleifend auctor justo. <br><br> Sed finibus rutrum tortor hendrerit rutrum. Duis vehicula purus eget interdum condimentum. Nulla facilisi. Phasellus vel massa nibh. Aliquam eget suscipit magna, at venenatis mi. Nulla at euismod velit, id volutpat lacus. Nullam ante enim, sagittis id dignissim a, tempus vel nunc. Nulla facilisi. Phasellus a eros tellus.
        </p>
        <h2 class="t-2">Titulo</h2>
        <p class="i-2">Sed finibus rutrum tortor hendrerit rutrum. Duis vehicula purus eget interdum condimentum. Nulla facilisi. Phasellus vel massa nibh. Aliquam eget suscipit magna, at venenatis mi. Nulla at euismod velit, id volutpat lacus. Nullam ante enim, sagittis id dignissim a, tempus vel nunc. Nulla facilisi. Phasellus a eros tellus.
        </p>
      </cont-3>
    </cont-2>
    <cont-4>
      <h2 class="t-3">
        {{ section.settings.terminos-title }}
      </h2>
      <p>
        <a href="#!" class="text-reset">Envio</a>
      </p>
      <p>
        <a href="#!" class="text-reset">Politicas de Privacidad</a>
      </p>
      <p>
        <a href="#!" class="text-reset">Politicas de Envio</a>
      </p>
      <p>
        <a href="#!" class="text-reset">Terminos del Servicio</a>
      </p>
      <p>
        <a href="#!" class="text-reset">Politicas de reembolso</a>
      </p>
      <p>
        <a href="#!" class="text-reset">Politicas de Cambios <br> y Devoluciones de Dinero
        </a>
      </p>
    </cont-4>
  </cont-1>
</terminos-condiciones>

{% schema %}
  {
    "name": "terminos-condiciones",
    "settings": [
      {
        "type": "text",
        "id": "terminos-title",
        "label": "Términos y Condiciones"
      }
    ]
  }
{% endschema %}