*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    font-family: 'DM sans';
}

header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    height: 85px;
    padding: 5px 20px;
}

header img.header-logo{
    align-self: center;
    justify-self: end;
    max-height: 70px;
    width: auto;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

nav ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav ul li a.menu-link{
    font-size: 14px;
    margin: 0 15px;
    color: #9F9F9F;
    text-decoration: none;
    white-space: nowrap;
}

nav div.mega-menu-item{
    position: absolute;
}

header button.add-to-cart {
    display: flex;
    flex-direction: row;
    max-width: 120px;
    align-items: center;
    justify-content: center;
    background-color: #F7F0E2;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}

svg{
    width: fit-content;
    margin: 0;
}

header button.add-to-cart p.add-to-cart-text{
    width: fit-content;
    padding: 0 5px;
    margin: 0;
}