*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    font-family: 'DM sans';
}

header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    height: 85px;
    padding: 5px 20px;
}

header img.header-logo{
    width: auto;
    height: auto;
    max-height: 70px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

nav ul li{
    font-size: 12px;
}

nav ul li a.menu-link{
    color: #9F9F9F;
    text-decoration: none;
}

header button.add-to-cart {
    display: flex;
    flex-direction: row;
    width: 70px;
    align-items: center;
    justify-content: center;
    background-color: #F7F0E2;
}